<table class="table table-striped">
    <thead>
    <tr>
        <th colspan="7" class="align-left">댓글 목록</th>
    </tr>
    </thead>
    {% for comment in comments %}
    <tr>
        <td colspan="3">{{comment.text}}</td>
        <td>{{comment.author.username}}</td>
        <td>{{comment.created}}</td>
        <td><a href="{% url 'board:comment_update' comment.id %}" class="btn btn-warning btn-sm">update</a></td>
        <td><a href="{% url 'board:comment_delete' comment.id %}" class="btn btn-danger btn-sm">delete</a></td>
    </tr>
    {% endfor %}
</table>