{% extends 'base.html' %}
{% block title %}
Photo Create
{% endblock %}

{% block content %}
{{object.title}} {{object.text}} {{object.image.url}} {{object.author.username}}<br>
<hr>
<form action="{% url 'board:comment_create' object.id %}" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-8">
            {{comment_form.text}}
        </div>
        <div class="col">
            <input type="submit" value="Comment" class="btn btn-outline-primary form-control">
        </div>
    </div>
</form>
<div id="docs_comment_list_area">
    {% include 'board/comment_list.html' %}
</div>
{% endblock %}